

/* CARS.PHP - START */

#search form {
    width: 50%;
}

#search form input{
    border-radius: 20px;
}

#price-tag {
    position: absolute;
    padding: 0 25px;
    top: 8px;
    left: 8px;
}

li span {
    font-weight: bold;
}

.ctn {
    gap: 20px;
}

.gallery-item {
    cursor: pointer;
}

/* CARS.PHP - END */


/* BOTTOM NAVBAR - START */

    .bi{
        fill: white;
    }

/* BOTTOM NAVBAR - END */

body {
    height: 100vh;
}

/* admin_dashboard.php - START */

[data-target="#collapseOne"], [data-target="#collapseTwo"], [data-target="#collapseThree"], [data-target="#collapseFour"], [data-target="#collapseFive"] {
    text-decoration: none;
    cursor: pointer;
    color: black !important;
}

/* admin_dashboard.php - END */

/* edit_user.php - START */

.user-item {
    cursor: pointer;
}

/* edit_user.php -END */

/* gallery.php - START */

.cars-gallery-item {
    max-width: 100%;
    padding: 6px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.custom-img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.gallery {
    padding: 20px 0;
}

.equipments {
    font-weight: bold;
}
/* gallery.php - END */

.msg-item{
    cursor: pointer;
}

.bg-peach {
    background-color: #FFCBA4 !important;
}

.border-radius {
    border-radius: 5px;
}

.border-radius {
    border-radius: 5px !important;
}

/* TABLEAU RESPONSIF NOTAMMENT POUR admin_panel.php, cars_mg.php et comments_mg.php - START*/
@media(max-width: 767px)
{
    .custom-table thead {
        display: none;
    }

    .custom-table, .custom-table tbody, .custom-table tr, .custom-table td {
        display: block;
        width: 100%;
    }

    .custom-table tr {
        margin-bottom: 15px;
        border-radius: 2px solid black;
    }
    
    .custom-table td {
        text-align: right;
        padding: left;
        text-align: right;
        position: relative;
        
    }

    .custom-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
/* TABLEAU RESPONSIF NOTAMMENT POUR admin_panel.php, cars_mg.php et comments_mg.php - END */

/* RESPONSIVITE DE LA TABLE DES HORAIRES DE bottom_navbar.php - START */
@media(max-width: 650px)
{
    .table-bottom-navbar th {
        display: none;
        padding: 0.5rem 1rem;
    }

    .table-bottom-navbar td {
        display: block;
    }
}
/* RESPONSIVITE DE LA TABLE DES HORAIRES DE bottom_navbar.php - END */

/* AJOUTE UN PADDING TOP A CERTAINS ELEMENTS EN VERSION MOBILE - START */
@media(max-width: 276px)
{
    .ctm-btn {
        margin-top : 8px;
    }
}
/* AJOUTE UN PADDING  CERTAIN BOUTONS EN VERSION MOBILE - END */

@media(max-width: 377px)
{
    .responsive-font {
        font-size: 0.9rem;
    }

    .hide-icons {
        display: none;
    }

    .sliders {
        width: 5rem;
    }

    #search form {
        width: 100%;
    }
}

@media(max-width: 991px)
{
    .sliders {
        width : 5rem;
    }
}

/* PAGE index.php >> Page d'accueil - START */
.main-index {
    height: 90%;
}

@media(max-width: 991px)
{
    .main-index {
        height : auto;
    }
}
/* PAGE index.php >> Page d'accueil - END */

/* BOUTON DE REINITIALISATION DES SLIDERS - START */
.reset-button {
    width: 30px; 
    height: 30px; 
    background-color: #007bff; 
    border: none; 
    border-radius: 50%; 
    color: #fff; 
    font-size: 18px; 
    text-align: center; 
    line-height: 100px; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
}
/* BOUTON DE REINITIALISATION DES SLIDERS - END */

