/* CARS.PHP - START */

#search form {
    width: 50%;
}

#search form input{
    border-radius: 20px;
}

#price-tag {
    position: absolute;
    padding: 0 25px;
    top: 8px;
    left: 8px;
}

li span {
    font-weight: bold;
}

.ctn {
    gap: 20px;
}

.gallery-item {
    cursor: pointer;
}

/* CARS.PHP - END */


/* BOTTOM NAVBAR - START */

    .bi{
        fill: white;
    }

/* BOTTOM NAVBAR - END */

body {
    height: 100vh;
}

/* admin_dashboard.php - START */

[data-target="#collapseOne"], [data-target="#collapseTwo"], [data-target="#collapseThree"], [data-target="#collapseFour"] {
    text-decoration: none;
    cursor: pointer;
    color: black !important;
}

/* admin_dashboard.php - END */

/* edit_user.php - START */

.user-item {
    cursor: pointer;
}

/* edit_user.php -END */

/* gallery.php - START */

.cars-gallery-item {
    max-width: 100%;
    padding: 6px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.gallery {
    padding: 20px 0;
}

.equipments {
    font-weight: bold;
}
/* gallery.php - END */

.msg-item{
    cursor: pointer;
}

.bg-peach {
    background-color: #FFCBA4 !important;
}

.border-radius {
    border-radius: 5px;
}

.border-radius {
    border-radius: 5px !important;
}

@media(max-width: 650px)
{
    .table-bottom-navbar th {
        display: none;
        padding: 0.5rem 1rem;
    }

    .table-bottom-navbar td {
        display: block;
    }
}

@media(max-width: 767px)
{
    /* .table-cars-mg th {
        display: none;
        padding: 0.5rem 1rem;
    }

    .table-cars-mg td {
        display: block;
    } */

    .table-cars-mg thead {
        display: none;
    }

    .table-cars-mg, .table-cars-mg tbody, .table-cars-mg tr, .table-cars-mg td {
        display: block;
        width: 100%;
    }

    .table-cars-mg tr {
        margin-bottom: 15px;
    }
    
    .table-cars-mg td {
        text-align: right;
        padding: left;
        text-align: right;
        position: relative;
    }

    .table-cars-mg td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}


@media(max-width: 316px)
{
    .ctm-btn {
        margin-top : 5px;
    }
}

@media(max-width: 377px)
{
    .responsive-font {
        font-size: 0.9rem;
    }

    .hide-icons {
        display: none;
    }
}